@page
@model IndexModel
@{
    ViewData["Title"] = "Index";
}

<h1>People</h1>

<p>
    <a asp-page="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.People[0].Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.People[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.People[0].Surname)
            </th>
            <th>
                Taxes Sum
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var person in Model.People)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => person.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => person.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => person.Surname)
                </td>
                <td>
                    @person.Taxes.Sum(t => t.Amount)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@person.Id" class="btn btn-primary">Edit</a>
                    <a asp-page="./Details" asp-route-id="@person.Id" class="btn btn-secondary">Details</a>
                    <a asp-page="./Delete" asp-route-id="@person.Id" class="btn btn-warning">Delete</a>
                    <a asp-page-handler="Download" asp-route-id="@person.Id" class="btn btn-info" title="Download person taxes info">Download</a>
                </td>
            </tr>
        }
    </tbody>
</table>
